/* Helper Classes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.todo {
  min-height: 10vh;
  text-align: center;
  border: 1px solid red;
  border-radius: 8px;
  font-weight: bold;
  margin: 16px;
  display: grid;
  place-content: center;
  text-transform: uppercase;
}

/* Overwrites default theme classes */
.wrapper {
  max-width: 1640px !important;
}

.shopify-section {
  margin-top: 0 !important;
}

.site-nav__item--compressed {
  margin-left: 0 !important;
}

.collection-collage__item-wrapper .collection-grid__item-overlay,
.collection-collage__item-wrapper .collection-grid__item-overlay::after {
  border-radius: 8px;
}

.drawer__close {
  button {
    border: none;
    padding: 0;
    right: 0 !important;
    span {
      font-size: 1.6rem !important;
    }
  }
}

/* General Classes */
.max-w-500 {
  max-width: 500px;
}

.icon {
  min-width: 16px;
  width: 16px;
  height: 16px;
}

.btn {
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 700;
  padding: 12px 70px;
  align-self: flex-start;
  font-size: 1.2rem;
  max-width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 40vh;
}

.header-absolute {
  position: absolute;
  top: 20%;
  left: 5%;
  color: $light-gray;
  h1 {
    color: $light-gray;
  }
}

.header-relative {
  position: relative;
  top: 20%;
  left: 5%;
  color: $dark;
  h1 {
    color: $dark-gray;
  }
}