/* Page Template
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.page {
  h1 {
    margin-bottom: 16px;
  }

  &__header {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10vh auto 2vh auto;

    @include desktop {
      align-items: start;
    }
  }

  &__content {
    color: $darker-gray;
    margin-bottom: 32px;
    max-width: 600px;
    @include desktop {
      max-width: 50%;
    }
  }
}

.contact-form-section {
  background-color: $bg-light-gray;
  padding: 32px 0;
  margin: 64px auto;

  h4 {
    color: $orange;
    font-weight: 600;
    margin-bottom: 16px;
  }

  textarea {
    min-height: 220px;
  }
}

.hr-page {
    border-bottom: 3px solid $darker-gray;
    width: 40%;
    padding-top: 16px;
}