/* Page Template
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.page {
  h1 {
    margin-bottom: 16px;
  }

  &__header {
    min-height: 40vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include desktop {
      align-items: start;
    }
  }

  &__content {
    margin-bottom: 32px;
    @include desktop {
      max-width: 70%;
    }
  }
}