/* Product Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#ProductSection--product-template {
  margin-top: 115px;
}
.shopify-payment-button__button {
  max-width: 160px !important;
}
.product-single__add-to-cart {
  .btn {
    min-height: 44px !important;
    max-height: 60px !important;
    max-width: 160px !important;
    // font-weight: 500;
    &--secondary-accent {
      box-shadow: $card-1;
      border: 1px solid $dark-gray;
    }
  }
}
.product-single__title {
  margin-bottom: 32px;
}

.product-single__price,
.product-single__policies {
  color: $text-gray;
  font-weight: 500;
}

.product-single__policies {
  margin: 8px 0;
  .text-link {
    border-bottom: none;

    &:hover {
      border-bottom: none;
      font-weight: bold;
    }
  }
}

.hr--small {
  margin: 0 auto 32px 0;
  width: 180px;
  border-color: $orange;
}

.product--image {
  border-radius: 8px;
}

.single-option-radio label {
  border-radius: 25px;
  border: 1px solid $dark-gray;
  color: $dark-gray;
  background-color: $light-gray;
}

.single-option-radio input[type='radio']:checked + label {
  color: $light;
  background-color: $orange;
  border-color: $orange;
}

.grid-product {
  &__meta {
    padding: 13px 15%;
    text-align: left;
  }
  &__title {
    color: $dark;
  }
  &__price {
    color: $dark-gray;
  }
}
.product-single__photo,
.product-single__thumb {
  border-radius: $radius;
}
.product-single__description {
  .description-title {
    color: #ccc;
    text-transform: capitalize;
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
    display: inline-flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    padding: 0 0 16px 0;
    width: 100%;
    font-family: 'ITC Avant Garde Gothic', sans-serif;
    font-weight: 500;
    font-size: 2rem;
  }
  .description-content {
    padding: 16px 8px 0 8px;
  }

  button {
    color: $dark-gray;
    text-transform: capitalize;
    margin-bottom: 0;
    border-bottom: 1px solid $dark-gray;
    display: inline-flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    padding: 0 0 16px 0;
  }
}

.vtl-pb-main-widget__product-checkbox {
  input {
    display: none !important;
  }
}

.accordion {
  cursor: pointer;
  padding: 8px 0;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 1s;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  align-items: baseline;
}

// Toggle Button Appearance
button.accordion.active {
  .icon-plus-solid {
    display: none;
  }
  .icon-minus-solid {
    display: block;
  }
}
button.accordion {
  .icon-plus-solid {
    display: block;
  }
  .icon-minus-solid {
    display: none;
  }
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  p {
    padding: 16px 8px 0 8px;
  }
}

// Buy Now Button
.shopify-payment-button__button--unbranded {
  border-radius: 4px !important;
  // font-weight: 700 !important;
}

.shopify-payment-button__more-options {
  display: none !important;
}

.return-link {
  color: $dark;
}

.grid-product__on-sale {
  border-radius: 0;
  color: #fff;
  background-color: #e80970;
  left: unset;
  position: relative;
  top: 20px;
  right: 35vw;

  @media (min-width: 590px) {
    top: 0;
    right: 12vw;
  }

  @media (min-width: 768px) {
    top: 0;
    right: 40vw;
  }

  @include desktop {
    top: 0;
    right: 120px;
  }
}

#shopify-section-product-recommendations .grid-product__on-sale {
  right: 5%;
}
