/* Global Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Highlighted Links */
.highlighted-links {
  margin-bottom: 32px;

  .flex {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 8px 0;
    @include desktop {
      flex-direction: row;
      justify-content: space-around;
    }

    a {
      font-weight: 600;
      padding: 8px 0;
    }
  }
}

/* Cards Section */
.cards {
  padding: 64px 0;
  margin: 32px 0;

  .heading {
    font-weight: 600;
  }
}

.cards-grid {
  margin: 32px 0;  
  .card {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    padding: 32px;
    background-color: $light-gray;
    border-radius: 8px;
    box-shadow: $card-2;
    min-width: 100%;
    min-height: 200px;
    height: 100%;

    &__background {
      position: relative;
      font-size: 25rem;
      color: #f2642230;
      font-family: Montserrat;
      font-weight: 600;
      top: 58px;
      left: -16px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // margin-top: -32px;
      min-height: 100%;
    }
    &__title {
      font-weight: 700;
    }
    &__subtitle {
      color: $text-gray;
      font-size: 1.4rem;
      margin-bottom: 8px;
    }
    &__description {
      margin-bottom: 32px;
      white-space: pre-line;
    }
    &__footer {
      display: flex;
      justify-content: flex-end;

      .icon-star-solid {
        color: $dark;
      }
      .icon-arrow-right-solid {
        color: $orange;
      }
      .btn {
        align-self: flex-end;
      }
    }
  }
}

/* Customer Reviews Cards */
.customer-reviews-section {
  padding: 64px 0;

  h5 {
    color: $orange;
    font-weight: 700;
    margin-bottom: 32px;
  }
}
.section-product-featured {
  margin: 64px 0;
}

.product-featured-row {
  background-color: $light-gray;
  
  .feature-row__text {
    padding: 32px;
  }
  
  h2 {
    color: $orange;
    margin-bottom: 8px;
  }
}

/* Icons Row */
.text-row {
  padding: 30px 35px;

  &[data-text-alignment='left'] {
    text-align: left;
  }
  &[data-text-alignment='center'] {
    text-align: center;
  }

  .icon {
    min-width: 36px;
    width: 36px;
    height: 36px;
  }

  .icon__column__icon {
    text-align: center;
    @include desktop {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-align: left;
    }
  }

  .icon__column__text {
    font-size: 1.6rem;
    @include desktop {
      padding-left: 16px;
    }

    h5 {
      font-size: inherit;
      font-weight: 700;
    }
  }
}

/* Instagram List */
.insta-list {
  margin-top: 32px;
  &__title {
    text-align: center;
    font-weight: 700;
    margin-bottom: 3.2rem;
  }
  .insta-row {
    text-align: center;
    @include desktop {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      filter: brightness(0.98);
    }
    .logo,
    .placeholder-svg {
      border-radius: 8px;
    }
  }
}

/* Newsletter */
.newsletter {
  background-color: unset;

  form {
    background-color: $light;
    max-width: unset;
  }

  
  &__card {
    border-radius: 8px;
    box-shadow: $card-2;
    @include desktop {
      max-height: 400px;
    }
    .seven {
      line-height: 0em;

      img {
        border-radius: 8px 8px 0 0;
        @include desktop {
          border-radius: 8px 0 0 8px;
        }
      }
    }
  }

  .placeholder-svg {
    max-height: 400px;
  }

  &__input {
    width: 100%;
    height: 50px !important;
  }

  &__content {
    display: block;
    padding: 16px;
    max-height: 100%;
    
    // @include desktop {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   height: 370px;
    //   padding-right: 10%;
    // }

    @include mobile {
      .btn {
        min-width: 100%;
      }
    }

    h3 {
      font-weight: 700;
      margin-bottom: 8px;
    }
  }
}

/* Work With Us */
.work-with-us {
  h3 {
    margin-bottom: 8px;
    font-weight: 600;
  }

  .six {
    padding: 0 0 32px;

    @include desktop {
      padding: 0 64px 32px;
    }
  }

  .three {
    .image-wrapper {
      position: relative;

      img {
        border-radius: 8px;
        filter: brightness(0.9);
      }
      p {
        color: $light;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0 16px 16px 0;
        margin: 0;
        font-weight: 600;
      }
    }
  }
}

/* Collection Row */
.collection-row {
  padding: 32px 0;

  &__title {
    margin-bottom: 32px;
  }

  .product {
    &__details {
      img {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
        border-radius: 8px;
      }
    }

    &__title {
      color: $dark;
      margin-bottom: 8px;
    }
    &__price {
      color: $text-gray;
    }
  }
}

/* Shop the look */
.shop-the-look {
  margin: 64px 0;

  .six {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 580px;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 300;
    @include tablet {
      text-orientation: sideways;
      writing-mode: vertical-lr;
    }

    span {
      color: $orange;
      font-weight: 600;
    }
  }

  h3 {
    font-weight: 500;
    span {
      font-weight: 600;
    }
  }

  .btn {
    margin-top: 8px;
    width: 100%;

    @include tablet {
      width: auto;
    }
  }

  .card {
    background-color: $light-gray;
    border-radius: 8px;
    box-shadow: $card-2;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    // overflow: auto;
    @include tablet {
      flex-direction: row;
    }

    img {
      height: auto;
      max-height: inherit;
      border-radius: 8px;
      object-fit: cover;
      @include tablet {
        max-width: 40%;
        min-width: 200px;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: 8px;

      .inner-content {
        display: flex;
        align-items: center;
        font-weight: 600;

        h4 {
          font-weight: inherit;
          margin-right: 16px;
        }

        span {
          color: $text-gray;
        }

      }

      p {
        margin-bottom: 0 !important;
        color: $dark;
      }
    }
  }
}

/* General Text Section */
.text-section {
  margin: 32px auto;
  .title {
   margin-bottom: 8px;
  }
  .col-2 {
    column-count: 2;
    margin-bottom: 32px;
  }
  .col-3 {
    column-count: 3;
    margin-bottom: 32px;
  }
}

/* Featured Banner */
.featured-banner {
  .section {
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    filter: brightness(0.9);
  }

  .content {
    padding: 8px;
    h3 {
      font-weight: 700;
    }
  }
}

/* Frequent Question */
.frequent-questions {
  &__header {
    margin-bottom: 24px;
    h3 {
      font-weight: 700;
    }
  }

  .card {
    min-width: 100%;
    min-height: 180px;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    margin-bottom: 16px;
    filter: brightness(0.9);

    &__content {
      padding: 8px;
      display: inline-flex;
      align-items: center;

      span {
        color: $light;
        font-weight: 600;
        margin-right: 8px;
      }
    }
  }
}

/* General FAQ */
.general-faq {
  &__sidebar {
    border-bottom: 1px solid $dark-gray;
    margin-bottom: 64px;

    h3 {
      font-weight: 600;
    }
  }

  .quick-links {
    display: flex;
    flex-direction: column;

    a {
      color: $dark;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 0;
      border-bottom: 1px solid $dark-gray;
      font-weight: 600;
      text-transform: uppercase;

      .icon {
        color: $dark-gray;
      }
    }
  }

  .question {
    border-bottom: 2px solid $orange;
    padding: 8px 0;
    margin-top: 40px;

    &__title {
      font-weight: 600;
      margin-bottom: 16px;
    }

    a {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.sale-promotion {
  margin: 64px auto;

  h2 {
    margin-bottom: 16px;
  }

  img {
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
  }

  .div1 { 
    padding-bottom: 16px;
  }

  @include tablet {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 4fr 6fr;
        grid-column-gap: 8px;
        grid-row-gap: 8px;
      }
      
      .div1 { 
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: end;
        padding: 32px;
        &__content {
          max-width: 80%;
        }
      }
      .div2 { 
        display: flex;
        grid-area: 2 / 1 / 3 / 2;
      }
      .div3 { 
        display: flex;
        grid-area: 1 / 2 / 3 / 3;
      }
  }
}

/* Contact Form */
.contact-form {
  img {
    border-radius: 8px;
  }

  .btn {
    color: $light;
    background-color: $orange;
    border: none;
    
    &:hover {
      transition: background-color 0.15s ease-out;
      background-color: #f58d5c;
      color: var(--shopify-editor-setting-color_button_text);
    }
  }
}