/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

// Colors
$orange: #f26522;
$dark: #000000;
$light: #ffffff;
$red: #bf1e2e;
$bg-light-gray: #f0f0f0;
$light-gray: #f9fafc;
$dark-gray: #cccccc;
$darker-gray: #4d4d4d;
$text-gray: #a0a0a0;

// Breakpoints
$mobile: 550px;
$tablet: 769px;
$desktop: 1000px;
$widescreen: 1200px;
$fullhd: 1800px;

// Box Shadows
$card-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$card-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

%scale-card {
  box-shadow: $card-2;
  transform: scale(1.01);
  transition: all 0.2s ease-in;
  filter: brightness(0.8);
}