<div {{ block.shopify_attributes }}>
  {%- if section.settings.image_model != blank -%}
  <img src="{{ section.settings.image_model | img_url: '940x800' }}" style="object-fit: contain; width: 100%; height: auto;">
{%- else -%}
  <img src="https://placeholder.pics/svg/940x800" alt="Image Placeholder" style="object-fit: contain; width: 100%; height: auto;">
{%- endif -%}

  {%- if section.settings.image != blank -%}
    <img src="{{ section.settings.image | img_url: '940x830' }}" style="object-fit: contain; width: 100%; height: auto;">
  {%- else -%}
    <img src="https://placeholder.pics/svg/940x830" alt="Image Placeholder" style="object-fit: contain; width: 100%; height: auto;">
  {%- endif -%}
</div>

{% schema %}

{
  "name": "Size Guide Image",
  "class": "container",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_model",
      "label": "Model Sizing Guide"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Size Measurement Guide"
    }
  ],
  "presets": [
    {
      "name": "Size Guide Image",
      "category": "Advanced layout"
    }
  ]
}

{% endschema %}