{%- for block in section.blocks -%}
<div class="container two-columns-section">
    <div class="row title">
      <h2>{{ block.settings.title | escape }}</h2>
    </div>
    <div class="row content">
      {{ block.settings.text }}
    </div>
  </div>
{%- endfor -%}

{% schema %}
{
  "name": "Two columns text",
  "blocks": [
    {
      "name": "Text Block",
      "type": "text_block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title Placeholder"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptartem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi ropeior architecto beatae vitae dicta sunt explicabo. Nemo eniem ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eosep quiklop ratione voluptatem sequi nesciunt. Neque porro quisquam est, quepi dolorem ipsum quia dolor srit amet, consectetur adipisci velit, seid quia non numquam eiuris modi tempora incidunt ut labore et dolore magnam aliquam quaerat iope voluptatem."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Two columns text",
      "category": "Text",
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ]
}
{% endschema %}