<!-- /templates/404.liquid -->
<div class="page__header section-header--404 container">
  <h1>{{ 'general.404.title' | t }}</h1>
  <div class="page__content">
    <div class="hr-page"></div>
    <p style="margin-top: 64px;">{{ 'general.404.subtext_html' | t: link: routes.root_url }}</p>
  </div>
</div>
