<!-- /templates/list-collections.liquid -->
{% comment %}
  The contents of the lists-collections.liquid template can be found in /sections/lists-collections-template.liquid
{% endcomment %}
<div class="section container">
  <h1>{{ 'collections.general.catalog_title' | t }}</h1>
</div>

{% section 'highlighted_links' %}

<div class="mb-32"></div>

{% section 'list-collections-template' %}

{% section 'image-full-width' %}

{% section 'sale-promotion' %}

{% section 'instagram-list' %}

{% section 'newsletter' %}

{% section 'icons-row' %}