<!-- /templates/page.faq.liquid -->
<section class="page">
  {% include 'page-header' %}

  {% section 'highlighted_links' %}

  {% section 'general-faq' %}

  {% section 'featured-collections-grid' %}

  {% section 'instagram-list' %}

  {% section 'newsletter' %}

  {% section 'icons-row' %}
</section>
