<!-- /templates/page.returnsliquid -->
<section class="page">
  {% include 'page-header' %}

  <!-- {% section 'highlighted_links' %} -->

  <div class="mb-32"></div>

  <!-- {% section 'text-section' %} -->
  {% section 'featured-content' %}

  {% section 'cards' %}

  {% section 'featured-collections-grid' %}

  {% section 'instagram-list' %}

  {% section 'newsletter' %}

  {% section 'icons-row' %}
</section>
