<!-- /templates/page-size-guide.liquid -->
<section class="page">
  {% include 'page-header' %}

  {% section 'highlighted_links' %}
  
  {% section 'size-guide-image' %}

  {% section 'featured-collections-grid' %}
  
  {% section 'instagram-list' %}
  
  {% section 'newsletter' %}
  
  {% section 'icons-row' %}
</section>
