<!-- /templates/page.liquid -->
<section class="page">
  {% include 'page-header' %}

  {% section 'product-featured-row' %}

  {% section 'work-with-us' %}

  {% section 'instagram-list' %}

  {% section 'newsletter' %}

  {% section 'icons-row' %}
</section>
