<!-- /templates/page.shipping.liquid -->
<section class="page">
  {% include 'page-header' %}

  {% section 'highlighted_links' %}

  <div class="mb-32"></div>

  {% section 'featured-collections-grid' %}

  {% section 'instagram-list' %}

  {% section 'newsletter' %}

  {% section 'icons-row' %}
</section>
