<!-- /templates/page.full-width.liquid -->
<section class="page">
  {% include 'page-header' %}

  <div class="mt-64"></div>

  {% section 'product-featured-row' %}

  {% section 'image-full-width' %}

  {% section 'cards' %}

  {% section 'customer-reviews' %}

  {% section 'instagram-list' %}

  {% section 'newsletter' %}

  {% section 'icons-row' %}
</section>
