<!-- /templates/page.returnsliquid -->
<section class="page">
  {% include 'page-header' %}

  {% section 'highlighted_links' %}
  
  {% section 'text-section' %}
  
  {% section 'cards' %}
  
  {% section 'featured-content' %}
  
  {% section 'featured-collections-grid' %}
  
  {% section 'instagram-list' %}
  
  {% section 'newsletter' %}
  
  {% section 'icons-row' %}
</section>
