<!-- /templates/page.full-width.liquid -->
<section class="page">
    {% include 'page-header' %}

    {% section 'product-featured-row' %}
    
    {% section 'image-full-width' %} 

    {% section 'cards' %} 
    
    {% section 'customer-reviews' %} 
    
    {% section 'instagram-list' %}
    
    {% section 'newsletter' %}
    
    {% section 'icons-row' %}
</section>
