<!-- /templates/page.liquid -->
<section class="page">
  <div class="page__header container">
    <h1>{{ page.title }}</h1>
    <div class="page__content">
      {{ page.content }}
    </div>
  </div>

  {% section 'cards' %} 
  
  {% section 'customer-reviews' %} 
  
  {% section 'instagram-list' %}
  
  {% section 'newsletter' %}
  
  {% section 'icons-row' %}
</section>
