<!-- /templates/page.contact.liquid -->

<section class="page">
    {% include 'page-header' %}

    {% section 'highlighted_links' %}
    
    {% section 'frequent-questions' %}

    {% section 'featured-banner' %}

    {% section 'contact-form' %}

    {% section 'featured-collections-grid' %}

    {% section 'instagram-list' %}

    {% section 'newsletter' %}
    
    {% section 'icons-row' %}
</section>