<!-- /templates/page.privacy.liquid -->
<section class="page">
  {% include 'page-header' %}
  
  {% section 'highlighted_links' %}

  {% section 'text-section' %}

  {% section 'newsletter' %}
  
  {% section 'icons-row' %}
</section>
