<!-- /templates/page.liquid -->
<section class="page">
  {% include 'page-header' %}

  {% section 'cards' %} 
  
  {% section 'customer-reviews' %} 
  
  {% section 'instagram-list' %}
  
  {% section 'newsletter' %}
  
  {% section 'icons-row' %}
</section>
