<!-- /templates/page-videos.liquid -->
<section class="page">
  {% include 'page-header' %}

  {% section 'highlighted_links' %}

  {% section 'youtube' %}

  {% section 'featured-collections-grid' %}

  {% section 'instagram-list' %}

  {% section 'newsletter' %}

  {% section 'icons-row' %}
</section>
